<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Iniciar Sesion
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formulario_login" (ngSubmit)="loguearse()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
        <div *ngIf="formulario_login.get('username')?.touched && formulario_login.get('username')?.invalid">
          <p class="error-message">El nombre de usuario es obligatorio.</p>
        </div>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="full" fill="outline" [disabled]="formulario_login.invalid">Inciar Sesion</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
